<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редоктирование товара[[${product.title}]]</title>
</head>
<body>
<a href="/"> На главную страницу</a>
<a data-th-href="@{/catalogue/products/list}">&larr; Список товаров </a>
<a data-th-href="@{/catalogue/products/{productId}(productId=${product.id})}">&larr; к товару</a>
<h1>Редактирование товара</h1>
<div data-th-if="${errors}">
    <h2>Ошибки</h2>
    <ul>
        <li data-th-each="error:${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" data-th-action="@{/catalogue/products/{productId}/edit(productId=${product.id})}">
    <label>
        Название<br>
        <input type="text" name="title" data-th-value="${product.title}" >
    </label><br>
    <label>
        Описание<br>
        <textarea name="details" data-th-value="${product.details}">[[${product.details}]]</textarea>
    </label><br>
    <label>
        путь до картинки<br>
        <input type="text" name="img" data-th-value="${product.img}" >
    </label><br>
    <label>
        Стоимость<br>
        <input type="number" name="price" data-th-value="${product.price}" >
    </label><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>
